ol.search-results li {
  list-style: none;
  margin: 0;
  padding: 0;
  border: none;
}

ol.search-results ol {
  padding-inline-start: 0;
}

ol.search-results .promotion,
ol.search-results .spelling {
  border-color: #fff;
  background-color: #f6f6f6;
  padding: 1em;
  width: 55%;
}

ol.search-results .result {
  padding: 1em 0;
}

ol.search-results .result .title {
  font-size: 1.2em;
  font-weight: normal;
  line-height: 1.7em;
}

ol.search-results .promotion .title {
  font-size: 1.1em;
  font-weight: normal;
  line-height: 1.5em;
}

ol.search-results .spelling {
  font-size: 1.1em;
}

.gjas-results--message {
  font-size: 1.4em;
  padding: 1em 0;
  font-weight: normal;
}

.gjas-results-no-results--message {
  font-size: 1.4em;
  padding: 1em 0;
  font-weight: normal;
}

.gjas-results-no-keywords--message {
  font-size: 1.4em;
  padding: 1em 0;
  font-weight: normal;
}

.gjas-results-limitation--message {
  font-size: 1.2em;
  padding: 1em 0;
  font-weight: normal;
}
