/* Form Elements Div Class (twig) */
.gjas-form-elements {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 20px;
}

/* Form Element Div Classes (twig) */
.gjas-sort {
  margin-left: auto;
}

.gjas-sort label {
  display: inline-block;
  margin: 10px;
  font-weight: bold;
}

/* Form Element IDs (preprocessor in .theme)*/
.gjas-element-keys,
.gjas-element-page,
.gjas-element-submit,
.gjas-element-sort {
  border: 2px solid #ccc;
  padding: .6em 1.4em .5em .5em;
  margin: 2px 0;
  font-size: 1.25em;
  height: 44px;
  box-sizing: border-box;
}

.gjas-element-keys {
  border-radius: 3px 0 0 3px;
  min-width: 0;
  max-width: unset;
  float: unset;
  color: #3b3b3b;
  font-weight: normal;
  width: 300px;
}

.gjas-element-page {
  margin-left: -2px;
  border-radius: 0;
  font-weight: normal;
  float: none;
}

#gjas-element-submit {
  color: #fff;
  background: #0071bc;
  border-radius: 0 3px 3px 0;
  border: 0;
}

#gjas-element-sort {
  border-radius: 2px;
}
