<div class="gjas-form-elements">
  <div class="gjas-element gjas-keys">  {{ form.keys }} </div>
  <div class="gjas-element gjas-page"> {{ form.searchpage }} </div>
  <div class="gjas-element gjas-submit"> {{ form.submit }} </div>
  {% if form.sort['#options'] is defined %}
    <div class="gjas-element gjas-sort"><label for="gjas-element-sort">Sort by:</label> {{ form.sort }} </div>
  {% endif %}
</div>
<div class="gjas-remainder">
    {{ form |without('sort')|without('keys')|without('searchpage')|without('submit')}}
</div> 
